# AI System paths dir
machine_learning/yolo/venv/
# root dir
venv
guide.txt
# . dirs
.310venv
.vscode
# Unused files
machine_learning/unused/
system/unused/
# Logs
system/detections.log
system/detections.csv
system/logs/
system/recordings/
# Ignore "ffmpeg.exe"
system/bin/ffmpeg.exe
#Ignore cache files
__pycache__/
machine_learning/__pycache__/
system/__pycache__/
system/core/detections/__pycache__/
system/core/__pycache__/


# ==========Ignore for now!==========
# Ignore data files
# machine_learning/data/
# machine_learning/desk_data/
# machine_learning/pose_data/